<%= render 'layouts/header' %>
<body>
  <div class="header-under">
  </div>
<div class="container">
  <div class="row">
  <div class="col-md-12">


<h1>Scores</h1>
<div class="">
  <% if user_signed_in? %>
  <%= link_to 'New Score', new_score_path, class: 'btn btn-default' %>
  <% else %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <div class="box">
        <td><%= score.tittle %></td>
        <td><%= @user.name %></td>
        <td><%= link_to 'Show', score, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_score_path(score), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>



  </div>
  </div>
</div>
</body>
