<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @score.tittle %>
</p>

<p>
  <strong>Key:</strong>
  <%= @score.key %>
</p>
<div>
  <strong>Chord:</strong>
  <%= simple_format(@score.chord) %>

  <%= link_to 'Edit', edit_score_path(@score) %> |
  <%= link_to 'Back', scores_path %>

</div>
<div>
  <strong>Degree:</strong>

  <%= simple_format(@score.chord)
      hash = {'C'=>'I','Dm'=>'IIm','Em'=>'IIIm','F'=>'IV','G'=>'V','Am'=>'VIm','Bm-5'=>'VIIm-5',}
      @score.chord.gsub(/C|Dm|Em|F|G|Am|Bm-5/,hash)

  %>


</div>
